<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>
    <section id="meeting-detail" class="meeting-detail">
      <div class="inner-insert container text-center">
        <div class="inner container list">
          <div class="edit-del">
            <a href="/edit" class="edit"><span class="fa fa-pencil fa-lg" title="Edit meeting"></span></a>
            <a href="<%= meeting.durl %>" class="delete"><span class="fa fa-trash-o fa-lg" title="Delete meeting"></span></a>
          </div>
          <h2><%= meeting.title %></h2>
          <p>
            <p><%= meeting.description %></p>
            <p><%= meeting.location %></p>
            <p><%= meeting.time %></p>
          </p>
          <div class="back">
            <a href="/meetings" class="text-dark"><span class="fa fa-arrow-left"></span> Back to list</a>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <% include partials/footer %>
    </footer>
    <% include partials/scripts %>
  </body>
</html>